.front{ :summary => "For signed-in users" }
  .main
    %h1.micropost What's up?
    %span#chars_remaining
    = render 'shared/micropost_form'
    = render 'shared/feed'
  .sidebar.round
    = render 'shared/user_info'
    = render 'shared/stats'