%table.front{ :summary => "For signed-in users" }
  %tr
    %td.main
      %h1.micropost What's up?
      %span#chars_remaining
      = render 'shared/micropost_form'
      = render 'shared/feed'
    %td.sidebar.round
      = render 'shared/user_info'