= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
= javascript_include_tag "jquery.NobleCount.min"

- if signed_in?
  = render 'shared/home_signed_in'
- else
  = render 'shared/home_signed_out'

:javascript
  $('#micropost_content').NobleCount('#chars_remaining');

%style
  :sass
    h1.micropost
      width: 360px
      display: inline-block

    #chars_remaining
      font-weight: bold
      color: #AAA